# ======================================================
# IMPORTANTE: 
# pip intall kafka-python
# ======================================================
# Servicio: Broker Kafka
# ======================================================
services:

  broker:
    image: apache/kafka:latest        # Imagen oficial de Apache Kafka
    hostname: broker                  # Nombre de host interno (para que otros contenedores lo usen)
    container_name: broker            # Nombre visible del contenedor
    ports:
      - 9092:9092                     # Expone el puerto 9092 en tu máquina (localhost:9092)
    environment:                      # Variables de configuración para Kafka
      KAFKA_BROKER_ID: 1
      # Define los tipos de conexiones permitidas
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      # Kafka se anuncia internamente como "broker:29092" y externamente como "localhost:9092"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      # Parámetros básicos para un entorno de desarrollo de 1 nodo
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: "gTBb85_WRXu6oQgq-brTQw"   # ID del clúster
  
  db:
    image: mysql:latest # O mysql:latest
    container_name: ev_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: psusana    # Usar la misma contraseña de DB_CONFIG
      MYSQL_DATABASE: ev_charging
    ports:
      - "3307:3306" # Puerto estándar de MySQL/MariaDB
    volumes:
      # Montar el script de inicialización
      - ./init_db.sql:/docker-entrypoint-initdb.d/init_db.sql 
      - db_data:/var/lib/mysql 

volumes:
  db_data: